@import '@/app/variables.module.scss';

.about{
    // height: 90vh;
    padding: 100px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left{
    width: 40%;
    .image {
        object-fit: contain; // or 'cover', depending on the desired effect
        position: relative;
        left: -200px;
        opacity: .7;
    }    
}


.right{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
    .about{
        font-size: 100px;
        color: $primary-color
    }
    .intro{
        font-size: 50px;
        font-weight: 100;
    }
    .star{
        padding: 10px;
    }
    .stars{
        display: flex;
        font-size: 20px;
        margin: 50px 0;
        color: $primary-color;
    }
    .description{
        &::first-letter{
            padding-left: 50px;
        }
        font-size: 25px;
        font-style: italic;
        color: $secondary-color;
        text-align: justify;
    }

    
}

