@import '@/app/variables.module.scss';

.footer{
    padding: 70px 0;
    @include flexLayout;
    flex-direction: column;
    .footerHeader{
        display: flex;
        align-items: center;
    }
    .socialMedia{
        display: flex;
        flex-direction: row;
        width: 200px;
        justify-content: space-between;
        margin: 50px;
        .socialMediaItem{
            list-style: none;
        }
        .socialMediaLink{
            text-decoration: none;
            font-size: 50px;
            color: $secondary-color;
            &:hover{
                 color: $secondary-color;                 
                 transition: color .7s;
            }
        }        
    }
    .paragraph{
        color: $secondary-color;
        font-size: 18px;
        // @include textStyles;
    }
    .mainName{
        font-size: 50px;
        color: $secondary-color;
        @include textStyles;
    }
    
    .subName{
        font-size: 18px;
        color: $secondary-color;
        text-align: center;
        font-weight:lighter;
        @include textStyles;
    }
}