@import '@/app/variables.module.scss';

.section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    height: 90vh;
    width: 90vw;
    background-color: $secondary-color;
    border: 2px black dotted;
    margin: 2rem;

    font-size: 1rem;
    // padding: 20px;
    font-weight: bold;
    

}

.red{
    background-color: rgba(255,0,0,1);
    height: 100px;
    padding: 2rem;
    border: 8px black solid;
    // order: 0;
    // flex-grow: 1;
}

.green{
    background-color: rgba(0,255,0,1);
    height: 125px;
    padding: 2rem;
    border: 8px black solid;
    // width: 100vw;

}

.blue{
    background-color: rgba(0,0,255,1);
    height: 150px;
    padding: 2rem;
    border: 8px black solid;

}

