@import './variables.module.scss';

// * {
//     margin: 0;
//     padding: 0;
// }

// body {
//     background-color: $dark-color;
// }

.header{
    font-size: large;
}

.subheader{
    font-size: medium;
}

.brand{
    margin: 0px;
}
.logo{
    margin:0px;
}

.mainName{
    font-size: large;
}

.subName{
    font-size: medium;
}

// .banner{
//     margin: 0px;
// }