@import '@/app/variables.module.scss';

.main{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .text{
        font-size: x-large;
        color: $primary-color;
        // font-family: 'Dancing Script';
        font-family: 'Josefin Sans', sans-serif;
    }
}