$dark-color: #2c2c2c;
$black-color: #000000;
$primary-color: #d3ab55;
$secondary-color: #bbb;

$dancingScript-font: var(--dancing-script-font);
$JosefinSans-font: 'Josefin Sans', sans-serif;
$Norito-font: 'Nurito', sans-serif;
 
@mixin textStyles{
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin flexLayout{
    justify-content: center;
    align-items: center;
    display: flex;
}

@mixin centering($topValue) {
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%, -50%);
}
