$dark-color: #2c2c2c;
$black-color: #000000;
$primary-color: #d3ab55;
$secondary-color: #bbb;
$white-color:#ffffff;
$purple: rgba(143,0,255, 0.35);

$dancingScript-font: var(--dancing-script-font);
$JosefinSans-font: 'Josefin Sans', sans-serif;
$Norito-font: 'Nurito', sans-serif;
 
@mixin textStyles{
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@mixin flexLayout{
    justify-content: center;
    align-items: center;
    display: flex;
}

@mixin centering($topValue) {
    position: absolute;
    top: $topValue;
    left: 50%;
    transform: translate(-50%, -50%);
}

%fullSpace{
    width: 100%;
    height: 100%;
}

$text-gradient: linear-gradient(90deg, 
  rgba(105, 234, 203, 1) 0%, 
  rgba(234, 204, 248, 1) 50%, 
  rgba(102, 84, 241, 1) 100%);

  @mixin text-gradient {
    background: $text-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  @mixin gradient-text($size){
    @include text-gradient;
    font-size: $size;
  }

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .cleanButton {
    padding: 10px 40px;
    border-radius: 5px;
    color: darkgray;
    font-weight:200;
    font-size: 0.8rem;
    transition: all 0.3s ease; // Add smooth transition
    background-color: $black-color;
    border: 1px solid darkgray;
    cursor: pointer;

    &:hover {
        background-color: rgba(100,100,100,0.2);
        cursor: pointer; 
    }   
}

  .button{
    padding: 10px 40px;
    border-radius: 50px;
    color: white;
    font-weight:400;
    font-size: 1.1rem;
    background-color: rgb(2, 116, 255);
    transition: all 0.3s ease; // Add smooth transition
    cursor: pointer;
    &:hover {
        background-color: rgb(3, 60, 215);
        transform: scale(1.02); // Inflate the button by 5%
        cursor: pointer; // Change the cursor to pointer on hover
    }      
}

