@import '@/app/variables.module.scss';

.mainButton{
    width: 170px;
    height: 60;
    font-size: 60;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px;
    border: 1px solid $primary-color;
    border-radius: 5px;
    font-family: $dancingScript-font;
    color: $primary-color;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    &:hover{
        background-color: $primary-color;
        color: $black-color;
    }
}