@import '@/app/variables.module.scss';

.main{
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;        
    padding: 10px 20px;
    background-color: rgba(100,100,100,0.3);
    border-radius: 4px;

}