@import '@/app/variables.module.scss';

.gradientBox {
  display: flex;
  flex-direction: column;
  justify-content: 'center';
  border: 1px solid transparent; // Set border to transparent
  border-radius: 10px;
  background: 
    linear-gradient(black, black) padding-box, // White background inside the border
    $text-gradient border-box; // Gradient border
  color: transparent;
  width: 240px;
  height: 280px;
  padding: 10px; // Add some padding to create space between the image and border
  margin: 40px;
}


.image{
    border-radius: 20px 20px 0 0;
    transform: all 0.3s ease;
    overflow: hidden;
    &:hover{
        transform: scale(1.02);
    }
}

.button {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    background-color: rgb(2, 116, 255);
    color: white;
    border: 1px solid white;
    transition: all 0.3s ease; // Add smooth transition
    cursor: pointer;

    &:hover {
        background-color: rgb(3, 60, 215);
        transform: scale(1.02); // Inflate the button by 5%
        cursor: pointer; // Change the cursor to pointer on hover
    }
}




.nftImage {
 border-radius: 10px;
}

.ownerInfo{
  display: flex;
  color: white;
  font-size: 0.8rem;
  font-style: 'regular';
  margin-top: 10px;  
  // background-color: red;  
  align-items: center;
  background: none;
  .userPic{
    border-radius: 5px;
  }

  .chainPic{
    border-radius: 2px;
    align-items: center;
  }
  .middleInfo{    
    display: flex;
    flex-direction: column;
    align-items: 'start';
    flex: 1;
    margin: 0 10px;
    // background-color: purple;   
    font-weight:900;
    font-size: 0.8rem;    
    .userName{

      margin-top: 6px;
      color: darkgray;

    font-weight:300;
    font-size: 0.7rem;    
    }    
  }
}