.main{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 230p;
        height: 400px;
        margin: 5px;
        border-radius: 20px;
        border: 1px solid darkgrey;
}
.traitsBox{
    display: flex;
    width: 100%;
    max-width: 230px; // Match the main card width
    flex-wrap: wrap;
    width: 90%;
    gap: 8px;

    .traits{
        display: flex;
        border-radius: 15px;
        border: 1px solid darkgray;
        font-size: 10px;
        padding: 5px 15px;
        background-color: rgb(240,240,240);
        color: rgb(100,100,100);
        justify-content: space-evenly;
        align-items:baseline;
        word-wrap: break-word; // Allow long words to break
    }    
}

.image{
    border-radius: 20px 20px 0 0;
    transform: all 0.3s ease;
    overflow: hidden;
    &:hover{
        transform: scale(1.02);
    }
}

.button {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 10px;
    margin: 5px;
    border-radius: 50px;
    background-color: rgb(2, 116, 255);
    color: white;
    border: 1px solid white;
    transition: all 0.3s ease; // Add smooth transition
    cursor: pointer;

    &:hover {
        background-color: rgb(3, 60, 215);
        transform: scale(1.02); // Inflate the button by 5%
        cursor: pointer; // Change the cursor to pointer on hover
    }
}