@import '@/app/variables.module.scss';

.row{
    display: flex;
    width: 100%;
    padding: 10px 20px;
    .text {
        color: white;
        width: 25%;
    }    
    .numbers {
        color: white;
        text-align: right;
        width: 25%;
    }    
}

.header{
    display: flex;
    width: 100%;
    padding: 15px 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: gray;
    font-size: smaller;
    font-weight: bolder;
    .text {
        width: 25%;
    }    
    .numbers {
        text-align: right;
        width: 25%;
    }    
}