@import '@/app/variables.module.scss';

.row{
    display: flex;
    width: 100%;
    padding: 5px 10px;
    .text {
        color: white;
        width: 25%;
    }    
    .numbers {
        color: white;
        text-align: right;
        width: 25%;
    }    
}

.header{
    display: flex;
    width: 100%;
    padding: 5px 20px;
    .text {
        color: white;
        width: 25%;
    }    
    .numbers {
        color: white;
        text-align: right;
        width: 25%;
    }    
}
